<nav class="relative flex justify-between md:justify-center gap-10 items-center py-3 px-4 md:py-3">
  <p class="font-urbanist text-[32px] font-black">Rider</p>
  <ul class="hidden md:flex md:gap-6 md:text-base">
    @for(nav of NAVBAR; track nav) {
    <li class="font-urbanist">
      <a [routerLink]="nav.route">{{ nav.label }}</a>
    </li>
    } 
  </ul>
  <div class="flex items-center gap-4">
    <img src="assets/images/profile.svg" alt="Profile" class="w-6 h-6" />
    <button (click)="toggleMenu()" class="md:hidden" aria-label="Toggle menu">
      <lucide-icon [img]="isMenuOpen ? X : Menu" [size]="24" class="text-gray-700 hover:text-gray-900 transition-colors cursor-pointer"></lucide-icon>
    </button>
  </div>
  <div 
  class="absolute top-full right-0 w-50 bg-white shadow-lg md:hidden transition-all duration-300"
  [class.max-h-0]="!isMenuOpen"
  [class.max-h-96]="isMenuOpen"
  [class.overflow-hidden]="true">
  <ul class="flex flex-col py-4">
    @for(nav of NAVBAR; track nav) {
    <li class="font-urbanist">
      <a 
        [routerLink]="nav.route" 
        (click)="closeMenu()"
        class="block px-4 py-3 hover:bg-gray-100 transition-colors">
        {{ nav.label }}
      </a>
    </li>
    }
  </ul>
</div>
</nav>
